.recipes-first-div {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 100%;
}

.main-recipes {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.main-recipes div {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.recipe-card-img {
  max-width: 5rem;
}

.meal-card, .drink-card {
  display: flex;
  flex-wrap: wrap;
}
